.section-projects {
  padding: 0 20px;
}



.section-projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 52px;
}

@media (max-width: 1320px) {
  .section-projects__grid {
    column-gap: 24px;
    row-gap: 32px;
  }
}

@media (max-width: 1270px) {
  .section-projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {

}

@media (max-width: 660px) {
  .section-projects__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
