.section-skills {
  /* width: 100%; */
  padding: 0 20px;
}

.section-skills__hard-skills {
  position: relative;
  padding: 42px 32px;
  background: rgba(122, 122, 122, 0.02);
  backdrop-filter: blur(5px);
  border-radius: 34px;
  border: 1px solid #b7b7b7;
  margin-bottom: 160px;

}

.section-skills__hard-skills > h2 {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #e6e6e6;
  margin-bottom: 24px;
}

.hard-skills__list {
  position: relative;
  
}
.section-skills {
  position: relative;
}
.section-skills::after {
  content: "";
  width: 769px;
  height: 882px;
  position: absolute;
  top: -20px;
  left: -20%;
  z-index: -40;
  background-image: url("../../assets/images/background__figure_light.svg");
  background-position: left;
  background-size: 100%;
}
