@import '@/styles/constants.scss';

.section-skills {
  padding: 0 20px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media (max-width: $min-medium-screen) {
  .section-skills {
    &__wrapper {
      // grid-template-rows: 1fr 0.5fr;
      grid-template-columns: repeat(2, 1fr);
    }

    .skills-card:nth-child(1) {
      grid-column: 1/-1; 
      margin-bottom: 20px;
    }

    // .skills-card::nth-child(n+4) {
    //   grid-column: 1/3; /* занимает первые две колонки */
    // }
  }
}


@media (max-width: $small-screen) {
  .section-skills {
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }

    .skills-card:nth-child(1) {
      grid-column: 1/-1; 
      margin-bottom: 0;
    }

    // .skills-card::nth-child(n+4) {
    //   grid-column: 1/3; /* занимает первые две колонки */
    // }
  }
}

