.section-about__wrapper {
  height: 100vh;
  max-height: 700px;
  position: relative;
  z-index: 1;
  padding: 100px 20px 0;
}

.section-about__wrapper > h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 84px;
  line-height: 84px;
  color: hsl(0, 0%, 100%);
  max-width: 800px;
  margin-bottom: 40px;
}

.section-about__wrapper > p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  max-width: 740px;
  color: #ffffff;
  margin-bottom: 28px;
}

.section-about__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.section-about__avatar {
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 2;
}

.section-about__avatar > img {
  width: 100%;
}

.section-about__background {
  position: absolute;
  top: -100px;
  right: -30px;
  z-index: -1;
}

.section-about__wrapper > h1 > span {
  color: #9fee61;
}

.section-about__illustration {
  position: absolute;
  bottom: 0;
  right: 90px;
  width: 792px;
  height: 602px;
}

.section-about__illustration > .card-app {
  top: 40px;
  right: -200px;
  z-index: 2;
}

.section-about__illustration > .slider {
  top: 260px;
  right: 90px;
  z-index: 2;
}

.section-about__illustration > .desktop {
  top: -400px;
  right: -600px;
}

.section-about__illustration > .abstract {
  top: 40px;
  right: 240px;
  z-index: 2;
}

@media (max-width: 1300px) {
  .section-about__wrapper > h1 {
    font-size: 64px;
    line-height: 64px;
    max-width: 700px;
  }

  .section-about__wrapper > p {
    max-width: 600px;
  }
}

@media (max-width: 1000px) {
  .section-about__wrapper {
    padding-top: 300px;
  }

  .section-about__avatar {
    max-width: 300px;
    right: 100px;
    top: 100px;
    rotate: 8deg;
  }

  .section-about__wrapper > p {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 900px) {
  .section-about__avatar {
    top: 40px;
  }
}

@media (max-width: 800px) {
  .section-about__avatar {
    max-width: 240px;
    right: 100px;
    top: 40px;
    rotate: 8deg;
  }

  .section-about__background {
    max-width: 600px;
  }

  .section-about__wrapper {
    height: auto;
    max-height: none;
  }
}

@media (max-width: 660px) {
  .section-about__wrapper {
    padding-top: 340px;
  }

  .section-about__wrapper > h1 {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }
}

@media (max-width: 600px) {
  .section-about__background {
    top: 52px;
    right: none;
    left: 20px;
    max-width: 400px;
  }

  .section-about__wrapper > h1 {
    max-width: none;
  }
  .section-about__wrapper > p {
    max-width: none;
  }
}

@media (max-width: 540px) {
  .section-about__wrapper > h1 {
    font-size: 40px;
    line-height: 44px;
  }

  .section-about__actions {
    gap: 12px;
  }
  .section-about__actions > button {
    width: 100%;
  }


}
