.project-card {
  display: flex;
  flex-direction: column;
}
.project-card > h3 {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #c8c8c8;
  margin-bottom: 16px;

  @media (max-width: 1000px) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 12px;
  }
}

.project-card__tech-tags {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  @media (max-width: 1000px) {
    gap: 8px;
  }
}

.project-card > .project-card__tech-tags > span {
  border: 1px solid #c8c8c8;
  border-radius: 32px;
  padding: 4px 8px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;

  color: #c8c8c8;

  @media (max-width: 1000px) {
    font-size: 16px;
    line-height: 16px;
  }
}

.project-card > img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 16px;

  @media (max-width: 1000px) {
    margin-bottom: 12px;
  }
}

.project-card__actions {
  display: flex;
  gap: 16px;

  @media (max-width: 1000px) {
    gap: 8px;
  }
}

.project-card__actions > button {
  color: #c8c8c8;
  background: transparent;
}

.project-card__actions > button :hover {
  color: #e9e9e9;
  cursor: pointer;
  /* background: transparent; */
}

.project-card__actions > button > span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  /* margin-right: 8px; */

  @media (max-width: 1000px) {
    font-size: 16px;
    line-height: 16px;
  }
}
