@import '../constants.scss';

* {
  box-sizing: border-box;
}
section,
section:first-child {
  margin-bottom: 240px;

  @media (max-width: $min-medium-screen) {
    margin-bottom: 160px;
  }
}

.blog__wrapper {
  margin: 64px 20px 0;
}

.blog__contant {
  display: flex;
  margin-top: 24px;
  gap: 20px;
  width: 100%;
  align-items: flex-start;

  p {
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    color: #f1f1f1;
    max-width: 860px;
    width: 100%;

  }
}

.blog__other-blogs {
  position: sticky;
  top: 64px;
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;

    margin-bottom: 24px;
  }
}

.other-blog__card {
  display: flex;
  gap: 12px;
  width: 100%;
  background: #2b2b2b;
  border-radius: 15px;
  padding: 20px;

  img {
    border-radius: 6px;
  }

  p {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #c8c8c8;
  }
}
