@import '@/styles/constants.scss';

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  color: #ffffff;
  padding: 20px;
}

.body {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  background: #21262d;
  border-radius: 15px;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;

  h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.textRules {
  max-width: 400px;
}
.textRules,
.textRules span {
  font-weight: 500;

  color: #6c6c6d;
}

.textRules span {
  color: #868686;
  cursor: pointer;
}

.button__container {
  display: flex;
  align-items: center;
  width: 100%;

  button {
    margin-right: 20px;
  }
}

@media (max-width: $medium-screen) {
  .body {
    padding: 24px 20px;
    background: #21262d;
    border-radius: 15px;
    width: 100%;
  }
}

@media (max-width: $small-screen) {
  .inputs {
    gap: 10px;
  }
  .row {
    flex-direction: column;
    gap: 10px;
  }

  .textRules {
    margin-top: 20px;
  }

  .button__container {
    flex-direction: column;
    button {
      margin-right: 0;
    }
  }
}
