.text-filed {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.text-filed > p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #e6e6e6;
  margin-bottom: 12px;
}

.text-filed > input,
.text-filed > textarea {
  height: 44px;
  color: #e6e6e6;
  border: 1px solid #a4a4a4;
  border-radius: 10px;
  background: transparent;
}

.text-filed > textarea {
  height: 120px;
  resize: none;
}

.text-filed_error > input,
.text-filed_error > textarea {
  border: 1px solid red;
}
