.hide {
  transform: translateY(-70px);
  transition: 0.5s;
}

.body_hidden {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;
  z-index: 10;
  color: #d4ddfb;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;

  width: 100%;
  line-height: 150%;
  letter-spacing: 0.04em;
  /* display: flex; */
  /* justify-content: space-between; */
  /* padding: 4px 92px; */
}

.header__wrapper > nav > ul {
  list-style-type: none;
  display: flex;
  font-family: "Press Start 2P";
  gap: 24px;
  padding: 0;
}

.header_background {
  backdrop-filter: blur(10px);
  border-bottom: 1px solid gray;
}

.header__wrapper {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
