.skills__card {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.skills__card:last-child {
  margin-bottom: 0;
}

.skills__card > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #e6e6e6;
}

.skills__card img {
  margin-right: 12px;
}
