html[data-theme="light"]{
    --text-color:rgb(43, 43, 43);
    --bg-color:white;
    --primary-color:#4C5497;
    --outline-color:#ACACAC;
}
html[data-theme="dark"]{
    --text-color:rgb(214, 214, 214);
    --bg-color:black;
    --primary-color:#4C5497;
    --outline-color:#3d3d3d;
}