@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P:regular');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
#root {
  display: flex;
  justify-content: center;
}
html {
  --primary-color: #C4F041;
  --bright-color: #c778dd;
  --secondary-color: #acacac;
  --background-color: #1c1c1c;
  background: var(--background-color);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

section:not(:first-child) {
  margin-bottom: 240px;
}

.app-title-h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 39px;
  color: #e6e6e6;
  margin-bottom: 48px;

  span {
    color: #c4f041;
  }

  &::before {
    content: '#';
    color: #c4f041;
  }
}

.primary-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  background: #c4f041;
  border-radius: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.primary-button:hover {
  /* background: #91ff3d; */
}

.primary-button:active {
  /* background: #62d808; */
}

.secoundary-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  background: #1c1c1c;
  border: 1px solid #c4f041;
  border-radius: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #c4f041;
}

.accent-button {
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  background: #e6e6e6;
  border-radius: 32px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 16px 36px;
}

.accent-button > object {
  margin-left: 10px;
}

.link {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}
